body {
    font-family: Raleway, sans-serif;
    text-align: center;
    color: rgba(0,0,0,0.5);
}

h1 {
    font-size: 3.5em;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

h2 {
    letter-spacing: 0.1em;
}

#random-btn {
    padding: 0.6em;
    border-radius: 8px;
    font-weight: 600;
    background-color: white;
    color: rgba(0,0,0,0.8);
}
